# Code Owners for Amboras Starter Template
# These users will be requested for review when someone opens a pull request

# Global owners - all files require approval from at least one of these owners
* @Amin598 @avaibhav54 @ImadMoka
